{% extends "_layout.html" %}
{% block content %}
<h1>Edit profile</h1>
<form action="{{ url_for('users.update', username=current_user.username)}}" method="POST">
    <div class="form-group" style='width:50%; padding:20px;'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="users.update">First Name:</label>
        <input type="text" class="form-control" name="first_name" value="{{ current_user.first_name }}">
        <label for="users.update">Last Name:</label>
        <input type="text" class="form-control" name="last_name" value="{{ current_user.last_name }}">
        <label for="users.update">Email:</label>
        <input type="text" class="form-control" name="email" value="{{ current_user.email }}">
        <label for="users.update">Username:</label>
        <input type="text" class="form-control" name="username" value="{{ current_user.username }}">
        <input type="submit" class="btn btn-outline-info mt-3" value="Update">
    </div>
</form>

<h3>Upload a profile picture</h3>
<form action="{{ url_for('users.upload_profile', id=current_user.id) }}" method='POST' enctype="multipart/form-data">
    <div class='custom-file mb-3'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class='btn btn-outline-secondary' type="file" name="user_file">
        <input type="submit" class='btn btn-primary' value='Upload'>
    </div>
</form>

<h3>Post an image</h3>
<form action="{{ url_for('posts.create', id=current_user.id) }}" method='POST' enctype="multipart/form-data">
    <div class='custom-file mb-3'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class='btn btn-outline-secondary' type="file" name="user_file" multiple>
        <input type="submit" class='btn btn-primary' value='Upload'>
    </div>
</form>

<h2>Change profile privacy</h2>
<form action="{{ url_for('users.toggle_privacy', id=current_user.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    {% if user.is_private %}
    <input type="submit" class="btn btn-primary" value="Public"></a>
    {% else %}
    <input type="submit" class="btn btn-primary" value="Private"></a>
    {% endif %}
</form>

{% if user.is_private %}
<div>
    <span class="badge badge-primary">Private</span>
</div>
{% else %}
<div>
    <span class="badge badge-danger">Public</span>
</div>
{% endif %}

{% endblock %}